/*
=============== 
Variables
===============
*/
@import url("//cdn.web-fonts.ge/fonts/bpg-le-studio-02-caps/css/bpg-le-studio-02-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-le-studio-02/css/bpg-le-studio-02.min.css");

body {
  background-color: var(--clr-primary-default);
  color: var(--be-text);
  margin: 0;
}

:root {
  --clr-primary-default: #242424;
  --clr-primary-lighter: #333333;
  --clr-primary-darker: #1e1e1e;
  --be-accent-default: rgba(36, 186, 239, 1);
  --be-accent-lighter: rgba(129, 210, 239, 1);
  --be-accent-contrast: rgba(255, 255, 255, 1);
  --be-accent-emphasis: rgba(233, 236, 254, 0.1);
  --be-foreground-base: #fff;
  --be-background: #1d1d1e;
  --be-text: #fff;
  --be-link: #c5cae9;
  --be-hover: rgba(255, 255, 255, 0.04);
  --uppercase-font: "BPG LE Studio 02 Caps", sans-serif;
  --lowercase-font: "BPG LE Studio 02", sans-serif;
}

.icon {
  color: var(--clr-primary-darker);
}
